<ion-header>
  <ion-toolbar>
    <ion-title>Stock En Transito</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" style="display:block;"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

        <ion-text>
                <p>Talle  {{_producto.Talle}} - {{_producto.Nombre}}</p>
            </ion-text>
        

    <ion-list>
        <ion-item *ngFor="let stockT of stockTransito">
            <dl>
                <dt><strong>{{stockT.Deposito}}</strong></dt>
                <dt>Cantidad: {{stockT.Cantidad}}</dt>
            </dl>
        </ion-item>
    </ion-list>

</ion-content>
